.foto{
    width: 30%
}

body{
    background-color: #fb98be;
    display: flex;

align-items: center;
justify-content: space-evenly;
}

div{ margin: 19px;
    padding: 2px;
   
}

a{
    color:black;
    border:  4px;
}

.links{
display: flex;
flex-direction: column;
}